/* carousel */

.carousel {
  width: 80%;
  max-width: 1440px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.slide {
  width: 100%;
  max-width: 1440px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

/* tabs */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #FFF;
  color: #3E50E5 ;
  box-shadow: 2px 2px 6px rgb(0, 0, 0, 0.15);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #3E50E5;
  color: #FFF;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0 24px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  margin: 0;
}

.first {
  display: block;
}

.tabcontent h3 {
  display: block;
  justify-content: center;
  color: #3E50E5;
}

.tabcontent hr {
  border: none;
  border-top: 5px solid #3E50E5;
  width: 66px;
}

.flex-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
}

.flex-item {
  margin: 5px;
  text-align: center;
  line-height: 100px;
  height: 150px;
  width: 200px;
  border: 5px solid black;
}