@media (max-width: 1440px) {
  .container {
    width: 1180px;
  }

  body {
    padding-top: 70px;
  }

  header {
    height: 70px;
  }

  .hero-content h1 {
    font-size: 44px;
    letter-spacing: 1.1px;
    line-height: 50px;
    margin-bottom: 12px;
  }

  .hero-content p {
    font-size: 18px;
    letter-spacing: 0.45px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  
  .hero-content button {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 21px;
  }

  article#best-sellers {
    padding-top: 50px;
  }

  article#best-sellers h2 {
    font-size: 28px;
    letter-spacing: 0.7px;
    line-height: 38px;
    margin: 0 0 12px 0;
  }

  article#best-sellers .product-section {
    margin-top: 48px;
  }

  article#best-sellers .product-section .product {
    min-width: 220px; 
    margin: 17px 8px;
  }

  article#best-sellers .product-section .product .product-info .categories {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  article#best-sellers .product-section .product .product-info .title {
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    margin-bottom: 8px;
  }

  article#best-sellers .product-section .product .product-info .price {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 30px;
  }

  article#best-sellers .product-section .product .product-info .price .original-price {
    font-size: 9px;
    letter-spacing: 0.23px;
    line-height: 30px;
    display: block;
    line-height: 14px;
  }

  article#best-sellers  .product .product-info button {
    height: 40px;
    width: 180px;
    letter-spacing: 0.35px;
    line-height: 21px;
  }

  aside#newsletter {
    width: 881px;
    max-width: 100%;
    padding: 50px 0;
    margin: 70px auto;
  }

  aside#newsletter h3 {
    font-size: 22px;
    letter-spacing: 0.55px;
    line-height: 42px;
  }

  aside#newsletter p {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 42px;
    margin-bottom: 15px;
  }
    
  aside#newsletter form input[type=email] {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
  }
    
  aside#newsletter form input[type=submit] {
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 18px;
  }

  footer .bottom-nav {
    padding: 50px 0;
  }
    
  footer .container {
    max-width: 90%;
  }
    
  footer .bottom-nav ul li a {
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 22px;
  }
    
  footer .bottom-nav ul li.list-title {
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 26px;
    margin-bottom: 12px;
  }
    
  footer .copyright-text {
    height: 50px;
    font-size: 14px;
    letter-spacing: 0.35px;
    line-height: 22px;
    text-align: center;
  }
}